*.apk
*.iml
*.log
*.class

.DS_Store
.externalNativeBuild

local.properties

/.gradle

/.idea/workspace.xml
/.idea/caches
/.idea/codeStyles
/.idea/libraries

/gradlew
/gradlew.bat

/bin
/gen
/build
/gradle
/captures