sudo: false
language: android
jdk: oraclejdk8
android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.3
    - android-28
licenses:
    - "android-sdk-license-.+"
    - ".+"
before_install:
  - yes | sdkmanager "platforms;android-28"
script:
  - gradle clean test
env:
  global:
    - secure: XkE52s3rMHRjmAfo5sMPmuQGx+wGHagdnQ8WKzu7LEXlUm0GyPj7YaJu3JI9n5viZxjAR19GgxJNr0ZpptIUX0sj1TuPR34K58QznPkUfRfx30y4DwbK2kb1rtgLxV41Ro6bjyYlH7Q7H0qfmDpOHfbgfS0Wuz4e0QwIkHQWLBFZjlWhFdGoszDMKcdnn8R9UX5g/qPH7t/0CWrdGWGWwunMVDB4dfqDHqTyz2IGlZ9ce/Qpfe912qdNRKagpgXNHungsNAckqslx7hN0tRer+Bllz/lR+IEzE0I5Uo/dqYHEYTypfLHD79zM97Z5oOdDIV6mQLitFNeSyZY1SYDFVnqAhIebwBH7rHDMf2NYS22GkP0gXlPi+IxYWGH70DbxWS3CbDJTRzmifGYcWjKiFrvaOXHD1woW4MYi5oKKzdS7ZGFb5QfDuO+vLrh8A1iQ8+BpKejdrvqRiyd57EW2uiGZoiOodBZJTzKx24P4o4HgOvtZ9fat6GllZ6y1DvcIZUKVlJ0yzG0/fmnSHJby65s3/JmB9LNvahLAJckE9ANPH6AXfbG++kprDicgkjf1GarWmib+S+aXKDUpjtOOb5XbV88xyVCerPOh1581BlSI03stAD9ZZ+saXMHv2SUtAoqAiJFtiadqdfBU3GqHBtOEq0NxJbYHBBeHGLtspE=
    - secure: EhoTMiKVktW1gpEAGwuZMeQuZXPj03PMkrtjGPkoeeHV9pCwnf6q63rmATuCi4e2vhx8O1cRnIxD9wHilhGUz20qYOGy4I/AMfCJE1FWMNPGJ5jsKeq3kAyUAXk8cF2ZPvks/eQdKjJE5ZCGCXXzhtOYa6LL7d3L+NwrX5xv68LijMu4IfJ9fAI1XQC87R8nz/XSPbUjTaaBerlK8wxXK2Xf7+xQp+7riEJn6m4+w8UsqnUeY83evrMsHR496po5NnzzU36/ZhjzzL36tyRQ83cXJkelCUffHI0Gm/cba5p1vz5inEx+ATiAF44ArT34r+1b33AfF7YTDXs2/pNGkMV75LXO8rZ5Mw/zoLS4RZgQARxgJ0w1KhdZ0NgQ6kHt3nd79DlqGppblwVUb1msP+gWi83Yu28tuqD8LNXVM9bQ3HDQSuGv4SeEZhLFRiLIFsX1dNjg6M1OjQ+dp/Hx7yL1e965hXeEfgYT0DqqYpBbAStvkoElYh7Nvi47FHbAoLCgzwRVD5Rkoj7ZtdFQGGhGxlKN7k7k0O/Hq7Mor37Tj//6G3ukZnfruSy6dGqqRZODhxAKPiBnrbHZ4LGXDwH6j6vJ3gYU3nxBULWQduwAly98UnkFl0XSyriOa00qxTLCqnhHtL/gs0NfyUncVkALfxI09DoSccntLHM24go=
deploy:
  provider: script
  script: gradle clean bintrayUpload
  on:
    tags: true
    jdk: oraclejdk8
