language: android
jdk: oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.3
    - android-28

licenses:
    - 'android-sdk-license-.+'
    - '.+'

before_install:
  - yes | sdkmanager "platforms;android-28"
  - gradle -b wrapper.gradle wrapper

script:
  - ./gradlew clean test