name: Main Workflow
on: [push]
jobs:
  build:
    name: Build
    strategy:
      matrix:
        java-version: [1.8, 1.9, 10, 11, 12, 13]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      - run: java -version
      - run: gradle -b bootstrap.gradle wrapperBuild
      - run: ./gradlew clean test
